@import url("https://fonts.googleapis.com/css2?family=Bellota+Text:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Monoton&display=swap");

/* 
=======
global style
=======
*/

* {
  margin: 0;
  padding: 0;
  font-family: bellota, cursive;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  outline: none;
  font-family: "Bellota text", cursive;
  font-weight: 400;
}

html {
  font-size: 62.5%;
}

body {
  overflow-x: hidden;
}

/* 
=======
section-1
=======
*/

.section-1 {
  width: 100%;
  height: 100vh;
  background-color: #fff;
  position: relative;
}

.floating-background {
  height: 150vw;
  width: 150vw;
  background: rgba(132, 185, 63, 0.8);
  position: absolute;
  top: -125vw;
  left: calc(50% - 75vw);
  border-radius: 45%;
  animation: rotate 30s infinite;
}

.floating-background::before {
  content: "";
  height: 100%;
  width: 100%;
  background-color: rgba(132, 185, 63, 0.1);
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 40%;
  animation: rotate 30s infinite;
  /* z-index: 1; */
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.navbar {
  position: relative;
  z-index: 20;
  text-transform: capitalize;
  display: flex;
  justify-content: space-evenly;
  top: 4rem;
}

.navbar-link {
  font-size: 2rem;
  font-weight: 900;
  color: #fff;
  letter-spacing: 0.2rem;
  width: 1.5rem;
  word-wrap: break-word; /*to lie on the horizontal*/
  transition: all 0.5s;
}
.navbar-link:hover {
  width: 15rem;
  background-color: rgba(255, 255, 255, 0.2);
  transition: all 2.5s;
}

.section-1-heading {
  font-family: "monoton", cursive;
  font-size: 7rem;
  background: #fff;
  text-shadow: 0.3rem 0.3rem 0.3rem #888;
  color: #fff;
  position: absolute;
  top: 18vw;
  left: 50%;
  transform: translateX(-50%);
  width: 75rem;
  text-align: center;
  padding: 0.8rem 1.6rem;
  border-radius: 0.8rem;
  opacity: 0.9;
}

.logo {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translateX(-50%);
}

.logo i {
  font-size: 15rem;
  color: rgba(132, 185, 63, 0.8);
  text-shadow: 0.1rem 0.1rem 0.2rem #ddd, -0.1rem -0.1rem #ddd;
}
